<!-- Wappler include head-page="layouts/dashboard" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="trabalhadores" appConnect="local" components="{dmxBootstrap5Modal:{}}" -->
<div class="modal" id="criarModalColaborador" is="dmx-bs5-modal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Criar colaborador</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="criarFormColaborador">
                    <div class="form-group mb-3"> <label for="input1" class="form-label">Nome completo</label>
                        <input type="text" class="form-control py-2" id="input1" name="input1" aria-describedby="input1_help" placeholder="Enter some text">
                    </div>
                    <div class="form-group mb-3"> <label for="email" class="form-label">E-mail</label>
                        <input type="email" class="form-control py-2" id="email" name="email" aria-describedby="input1_help" placeholder="Enter some text">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Cadastrar</button>
            </div>
        </div>
    </div>
</div>
<dmx-serverconnect id="apiListarColaboradores" url="/api/trabalhadores/listar-colaborador"></dmx-serverconnect>
<main>
    <div class="d-flex flex-row justify-content-between align-items-center p-3 border rounded-3 mb-3 bg-body-tertiary">
        <div class="d-flex align-items-center">
            <h4 class="m-0">Trabalhadores</h4>
        </div><button id="btn1" class="btn btn-dark py-2">Cadastrar</button>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col" is="dmx-repeat" id="rpColaboradores" dmx-bind:repeat="apiListarColaboradores.data.queryColaborador" key="id">
                <div class="row p-3 border-bottom">
                    <div class="col align-self-center p-0">
                        <h6 class="m-0">{{_['nome-completo']}}</h6>
                    </div>
                    <div class="col align-self-center">
                        <p class="m-0">{{email}}</p>
                    </div>
                    <div class="col align-self-center text-end p-0">
                        <button id="btn2" class="btn btn-outline-secondary btn-sm">Ações</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>
<meta name="ac:route" content="/d/trabalhadores">