<!doctype html>
<html>

<head>
  <base href="/">
  <script src="/dmxAppConnect/dmxAppConnect.js"></script>
  <meta charset="UTF-8">
  <title>Gestão de Trabalhadores Espirita</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/bootstrap/5/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/dmxAppConnect/dmxRouting/dmxRouting.js" defer></script>
  <script src="/dmxAppConnect/dmxBrowser/dmxBrowser.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Navigation/dmxBootstrap5Navigation.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Modal/dmxBootstrap5Modal.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxNotifications/dmxNotifications.css" />
  <script src="/dmxAppConnect/dmxNotifications/dmxNotifications.js" defer></script>
  <script src="/dmxAppConnect/dmxDataTraversal/dmxDataTraversal.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxValidator/dmxValidator.css" />
  <script src="/dmxAppConnect/dmxValidator/dmxValidator.js" defer></script>
</head>

<body is="dmx-app" id="dashboard">
  <dmx-notifications id="toast"></dmx-notifications>
  <div is="dmx-browser" id="navegacao"></div>
  <dmx-serverconnect id="logout" noload="true" credentials="true" url="/api/usuarios/logout"></dmx-serverconnect>
  <dmx-serverconnect id="identificadUsuario" url="/api/usuarios/identificar-usuario"></dmx-serverconnect>
  <div class="container-fluid vh-100">
    <div class="row h-100">
      <div class="col-12 col-md-3 col-xl-2 p-4 border-end border-light new-shadow">
        <div class="d-flex justify-content-between mb-4 align-items-center">
          <div class="d-flex flex-column">
            <h5 class="m-0 fw-bold">Bem-vindo(a)</h5>
            <p class="m-0 sub-title">
              {{identificadUsuario.data.queryUsuarioLogado['nome-completo']}}
            </p>
          </div><button id="btn1" class="btn btn-sm btn-light" dmx-on:click="run([{run:{name:'deslogar',outputType:'text',action:`logout.load({})`}},{wait:{delay:500}},{run:{name:'redirecionar',outputType:'text',action:`navegacao.reload()`}}])">Sair</button>
        </div>
        <div class="nav w-100 flex-column">
          <a class="nav-item nav-link text-dark border-bottom ps-0 nav-texto py-2" href="/d/trabalhadores" internal="true">Trabalhadores</a>
          <a class="nav-item nav-link text-dark border-bottom ps-0 nav-texto" href="/d/frequentadores" internal="true">Frequentadores</a>
          <a class="nav-item nav-link text-dark border-bottom ps-0 nav-texto" href="/d/atendimento" internal="true">Atendimento</a>
        </div>


      </div>
      <div class="col-12 col-md-9 col-xl-10 p-4">
        <div is="dmx-view" id="content">
          <%- await include(content, locals); %>
        </div>
      </div>
    </div>
  </div>

  <script src="/bootstrap/5/js/bootstrap.bundle.min.js"></script>
</body>

</html>